@namespace Final_project.ViewModels.HeaderVM

@model HomeVM

@section css {
    <link rel="stylesheet" href="~/assets/css/contact.css">
}
<title>RENAX</title>

<header>
    <section id="bckr-img" style="background-image: url('assets/image/contact.jpg');">
        <div class="container">
            <div class="col-12">
                <div class="rent-area">
                    <div class="rent">
                        <p>GET IN TOUCH</p>
                        <h1>Contact Us</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="cover"></div>
    </section>
</header>
<main>
    <section id="number-area">
        <div class="number mt--120 mb-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="item">
                            <div class="con">
                                <i class="fa-solid fa-envelope"></i>
                                <h5>Email us</h5>
                                <p>@Model.Settings["Email us"]</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="item">
                            <div class="con">
                                <i class="fa-solid fa-location-dot"></i>
                                <h5>Our address</h5>
                                <p>@Model.Settings["Address"]</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="item">
                            <div class="con">
                                <i class="fa-regular fa-clock"></i>
                                <h5>Opening Hours</h5>
                                <p>@Model.Settings["Opening Hours"]</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="item">
                            <div class="con">
                                <i class="fa-solid fa-phone"></i>
                                <h5>Call us</h5>
                                <p>@Model.Settings["Call us"]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-30">
                    <div class="form-area">
                        <h5>Get in touch</h5>
                        <form method="post" class="" action="">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input name="name" class="fullname" type="text" value="@Model.UserFullName" autocomplete="off" placeholder="Your Name *" required="">
                                </div>
                                <div class="col-md-6 form-group">
                                    <input name="email" class="email" type="email" value="@Model.UserEmail" autocomplete="off" placeholder="Your Email *" required="">
                                </div>
                                <div class="col-md-6 form-group">
                                    <input name="phone" type="text" class="phone-number" autocomplete="off" placeholder="Your Number *" required="">
                                </div>
                                <div class="col-md-6 form-group">
                                    <input name="subject" type="text" class="subject" autocomplete="off" placeholder="Subject *" required="">
                                </div>
                                <div class="col-md-12 form-group">
                                    <textarea name="message" class="suggestion" id="message" cols="30" rows="4" placeholder="Your Message *" required=""></textarea>
                                </div>
                                <div class="col-md-12 addmsg">
                                    <div class="col-md-12">
                                        <input name="submit" class="add-suggestion" type="submit" value="Send Message">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <h5>Location</h5>
                    <div class="google-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7516.882403080759!2d46.96316234797257!3d40.2576842358625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x403ec4d5da74ea0f%3A0x22b4457acad0610b!2sGapanli!5e1!3m2!1sen!2saz!4v1721585169601!5m2!1sen!2saz"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section js {
    <script src="~/assets/js/contact.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}

